.Autosuggest {

	&__wrapper {
		position: relative;
		display: inline-block;
	}
	
	&__results {
		position: absolute;
		list-style: none;
		width: 100%;
		margin: 0;
		padding: 0;

		background: $light-grey;
	}

	&__result {
		padding: .5em;

		cursor: pointer;

		&:not(:last-child) {
			border-bottom: 1px solid darken($light-grey, 10%);

			&--active {
				border-bottom-color: $blue;
			}
		}

		&--active {
			background: $blue;
		}
	}
}
