doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
			
		title Country Selector

		link(rel="stylesheet", type="text/css", href="/css/styles.css")
	body
		.Container
			.Form__row
				label
					span.Form__label Display Locale
					select.FormControl#display-locale
						option(value="") Loading
			.Form__row
				label
					span.Form__label Country
					input.FormControl#country-selector(type="search" autocomplete="country-name" name="country" autofocus)

		if debug
			<script>document.write('<script src="//' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>
			<script>document.write('<script src="//' + (location.host || 'localhost').split(':')[0] + ':8080/js/app.js" async defer></' + 'script>')</script>
		else
			script(src="./js/app.js" async defer)
