$base-font-colour: $black;
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $base-font-colour;
	font-family: $base-font-family;
	font-size: $base-font-size;
	text-rendering: auto;
	letter-spacing: -.015em;
}
